<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sj.mapper.ReplyMapper">

		<insert id="replywrite">
			insert into reply(reply,id,bno)
			values(#{reply},#{id},#{bno})
		</insert>
		
		<select id="list" resultType="com.sj.model.ReplyDTO">
		select *
		from(
			select @rownum:=@rownum+1 rownum, b.*
			from reply b, (select @rownum:=0) as tmp
		    where bno=#{bno}
			order by bno desc
		) as boardlist
		<![CDATA[
		where rownum > (#{cri.pagenum}-1)*#{cri.amount} and rownum <= #{cri.pagenum}*#{cri.amount}
		]]>
		</select>
		
		<select id="rpycnt" resultType="int">
			select count(*) from reply where bno=#{bno}
		</select>
		
		<update id="replymodify">
		update reply
		set reply = #{reply}
		where rno = #{rno}
		</update>
		
		<delete id="replyremove">
		delete from reply
		where rno=#{rno}
		</delete>
		
  </mapper>